@import "tailwindcss";

@theme {
  --color-cream: #fffcf8;
  --color-cream-alt: #fff2d5;
  --color-dark: #0d0d17;
  --color-gold: #ffe047;
  --color-gold-hover: #ffd700;
  --font-heading: "DM Serif Display", serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--color-dark);
  background-color: var(--color-cream);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}
